

/***** CUSTOM STYLING *****/
ul#menu {
	margin: 0;
	font-size: .9em;
	border: 1px solid #000000;
}

ul#menu li a#homelink {
	height: 86px;
	padding-top: 0;
	width: 165px;
}

ul#menu li a#homelink span {
	display: none;
}

ul#menu li a {
	text-decoration: none;
	padding: .5em;
}

ul#menu li:hover, ul#menu li.sfhover {
	background-color: #000000;
}

ul#menu li:hover > a, ul#menu li.sfhover > a {
	color: #ffffff;
}

ul#menu li a:hover {
	color: #ffffff;
}

ul#menu li ul {
	border: 1px solid #000000;
	background-color: #ffffff;
}

ul#menu > li > ul {
}

ul#menu li ul li {
	border: 1px solid #ffffff;
	/*
	border: 1px solid red;
	*/
}

ul#menu li ul li a {
	padding: 0 .5em;
	font-size: 1.1em;
	line-height: 1.5em;
}

ul#menu li li:hover ul, ul#menu li li.sfhover ul {
	top: -1px;
	left: 0px;
}