<div id="content" class="clearfix">
<h2>HSFCU ATM Locations</h2>
<div id="rates" class="clearfix">
	<table>
    <tr>
    <th>Hospital Name &amp; ATM Location</th>
    <th>Street Address</th>
    </tr>
  <tr>
 	<td>Inova Alexandria - Cafeteria</td>
    <td>4320 Seminary Road, Alexandria, VA 22304</td>
 </tr>
 <tr>
 	<td>Inova Emergency Care Center - Leesburg</td>
    <td>224 Cornwall Street N.W., Leesburg, VA 20176</td>
 </tr>
 <tr>
 	<td>Inova Fairfax - Cafeteria</td>
    <td>3300 Gallows Road, Fairfax, VA 22003</td>
 </tr>
 
 <tr>
 	<td>Inova Fairfax -  Emergency Care Entrance</td>
    <td>3300 Gallows Road, Fairfax, VA 22003</td>
 </tr>
 
 <tr>
 	<td>Inova Fairfax - Atrium</td>
    <td>3300 Gallows Road, Fairfax, VA 22003<br />Heart and Vascular Institute</td>
 </tr>
 <tr>
 	<td>Inova Fairfax – Outside of Branch</td>
    <td>3300 Gallows Road, Fairfax, VA 22042<br />Support Service Building</td>
 </tr>
 <tr>
 	<td>Inova Fair Oaks - Lobby</td>
    <td>3600 Joseph Siewick Drive, Fairfax, VA 22033</td>
 </tr>
 <tr>
 	<td>Inova Healthplex - Emergency Care Entrance</td>
    <td>6355 Walker Lane, Alexandria, VA 22310</td>
 </tr>
 <tr>
 	<td>Inova Loudoun - Cafeteria</td>
    <td>44045 Riverside Parkway, Leesburg, VA 20176</td>
 </tr>
 <tr>
 	<td>Inova Mt Vernon - Lobby</td>
    <td>2501 Parkers Lane, Alexandria, VA 22306</td>
 </tr>
 <tr>
 	<td>Fredericksburg Chamber of Commerce - Lobby</td>
    <td>2300 Fall Hill Avenue, Fredericksburg, VA 22401</td>
 </tr>
 <tr>
 	<td>Potomac Hospital  - Lobby</td>
    <td>2300 Opritz Boulevard, Woodbridge, VA 22191</td>
 </tr>
 <tr>
 	<td>Potomac Hospital - Cafeteria</td>
    <td>2300 Opritz Boulevard, Woodbridge, VA 22191</td>
 </tr>
 <tr>
 	<td>Prince William Hospital - Outside of Branch</td>
    <td>8640 Sudley Road, Suite 130, Manassas, VA 20110</td>
 </tr>
 <tr>
 	<td>Prince William Hospital - Main Lobby</td>
    <td>8700 Sudley Road, Manassas, VA  20110</td>
 </tr>
 <tr>
 	<td>Heathcode Building - Lobby</td>
    <td>15195 Heathcode Blvd, Haymarket, VA 20169</td>
 </tr>                    
    </table>
</div>
</div>							
