<div id="content" class="clearfix">
<h2>Billing Rights</h2>
<p class="header">In Case of Errors or Questions About Your Statement...</p>
<p>If you think your statement is wrong, or if you need information about a transaction on your statement, write us (on a separate sheet of paper) at the following address:</p>
<p>Supervisory Committee<br />
Healthcare Systems Federal Credit Union<br />
8300 Arlington Blvd., Suite E-1<br />
Fairfax, Virginia 22031</p>

<p>We must hear from you no later than 60 days after we sent you the first statement on which the error or problem appeared. You can telephone us, but doing so will not preserve your rights.</p>
<p>In your letter, give us the following information: </p>
<ul>
	<li>Your name and account number. </li>
    <li>The dollar amount of the suspected error. </li>
    <li>Describe the error and explain, if you can, why you believe there is an error. If you need more information, describe the item you are unsure about. </li>
</ul>

<p>You do not have to pay any amount in question while we are investigating, but you are still obligated to pay the parts of your statement that are not in question. While we investigate your question, we cannot report you as delinquent or take any action to collect the amount you question. </p>

<p class="header">Special Rule for Credit Card Purchases</p>
<p>If you have a problem with the quality of goods or services that you purchased with a credit card, and you have tried in good faith to correct the problem with the merchant, you may not have to pay the remaining amount due on the goods or services. You have this protection only when the purchase price was more than $50 and the purchase was made in your home state or within 100 miles of your mailing address. (If we own or operate the merchant, or if we mailed you the advertisement for the property or services, all purchases are covered regardless of the amount or location of purchase.)</p>

<p class="header">In Case of Errors or Questions About Your Electronic Transfers... </p>
<p>Telephone us or write us at our Office as soon as you can if you think your statement is wrong or if you need more information about a transfer listed on the statement. We must hear from you no later than 60 days after the FIRST statement on which the problem or error appeared.</p>
<ul>
	<li>Tell us your name and account number.</li>
    <li>Describe the error or the transfer you are unsure about, explain as clearly as you can why you believe there is an error or why you need more information. </li>
    <li>Tell us the dollar amount of the suspected error.</li>
</ul>

<p>We will investigate your complaint and will correct any error promptly. If we take more than 10 business days to do this, we will recredit your account for the amount you think is in error so that you will have use of the money during the time it takes us to complete our investigation. </p>
</div>
