<div id="content" class="clearfix">
<h2>Share Certificates | <span class="small"><%= link_to "Check Out Our Rates", depositrates_path %></span></h2>
<p>A Share Certificate is a smart investment for the short term or the long term. Share Certificates are available for a variety maturity dates ranging from 3 to 60 months, each paying very competitive dividends. Once the term is up, you can take the money out or roll it over into another high-yield certificate. Ask us about &quot;certificate laddering&quot;, which could help you maximize the earnings on your Healthcare Systems FCU certificates.</p>

<p>Dividends are paid from current income and available earnings after required transfers to reserves at the end of the dividend period. Fees could reduce earnings on the account.</p>
</div>
