<div id="content" class="clearfix">
<h2>Please note the following important change to our website:</h2>
<p>In order to provide you with greater ease and security, Healthcare Systems FCU has moved your Credit Card Statement to our extremely secure and convenient Online Banking Platform. Our Online Banking Platform utilizes Multi-Factor Authentication which is essential to help prevent money laundering, identity theft and fraud. </p>

<p>After you have logged in to Online Banking look to the column on the left hand side of the screen, under the section that says: I want to... </p>

<%= image_tag "iwantto.jpg", :alt=>"" %>

<h2 class="center"><%= link_to "Click Here to Login to Online Banking and View Your Credit Card Statement!", new_hb_login_path, :style=>"color:#003366;" %></h2>
</div>
