<div id="content" class="clearfix">
<h2>Credit Union 24/CU HERE ATMs</h2>
<%= image_tag "24Here.gif", :alt=>"", :class=>"fright image" %>
<p>Need fast cash? HSFCU belongs to the STAR, PLUS, Visa and CU 24 ATM networks, as well as the nationwide CU 24 network. In addition, ATMs with the CU 24/CU HERE emblem provide thousands of surcharge-free ATMs to save you money.</p>
<p>For a listing of CU 24/CU HERE ATMs, <%= link_to "click here", "http://www.cu24.com/atm/default.html", :rel=>"confirm external" %>.</p>
</div>
