<div id="content" class="clearfix">
<h2>Current Promotions</h2>
<%= image_tag "auto_ad.jpg", :alt=>"", :class=>"fright image" %>
<p>If you’ve recently purchased a new vehicle, you may be wondering if you could have done better on your financing. In just a few minutes, Healthcare Systems FCU can help you find out!</p>
<p class="header">Let us give you a Second Opinion</p>
<p>Just provide us with the details on your auto loan and we'll tell you if HSFCU can give you a better deal. Right now, we're offering our new car loan rates on vehicles one year old or less. If we can save you money, we will. If we can't, then you’ll know you got a great deal in the first place. Either way, you win!</p>

<p class="header">The process is fast and easy</p>
<p>HSFCU's Second Opinion is not a long, drawn-out process. We can tell you very quickly if we can save you money by refinancing your loan with us. <span class="bold italic">If we could put hundreds of dollars back in your pocket or make your loan payments more affordable, isn’t that worth a few minutes of your time?</span></p>
<p>Call us at <span class="bold">703-776-7960</span> or <span class="bold">1-800-250-9676</span> and ask for a second opinion on your auto loan. </p>
</div>
