<div id="content" class="clearfix">
<h2>The Credit Union Difference</h2>

<p>What makes a credit union different from other financial institutions? First, we are a member-owned, not-for-profit financial cooperative. Unlike some financial institutions which have stockholders to please, each member-owner has an equal share in HSFCU. And, the profits that we make come back to you, in the form of generally higher rates on savings products, lower loan rates and convenient banking services. </p>

<p>Second, each of our members has an equal voice in the affairs of our Credit Union. You have the right to influence how the Credit Union is run by voting in the annual Board of Directors elections. You may even volunteer to serve on the Board of Directors, Supervisory Committee, Marketing Committee or Ambassador Committee, or participate in other Credit Union programs if you choose.</p>

<p>Third, we do our best to provide you with outstanding convenience from coast to coast. Not only do we offer 24/7 access to your funds through our website, but you can also access your account from many locations nationwide by using shared branches and surcharge-free ATMs. So whether you're at home or traveling, HSFCU will be there for you.</p>

<p>Fourth, and most important, our focus is on YOU. We concentrate on what is beneficial to our members and our Board of Directors makes decisions based on your best interests. We are also more flexible than other lenders in approving loans; we'll work more closely with you to approve loans whenever we can or find ways to help you to improve your credit to make you more eligible for loans. The Credit Union also conducts seminars and other programs to help members improve their financial literacy and better understand the financial options available to them.</p>

<p>Here at our Credit Union, you're more than just an account number. You are a member-owner and an integral part of our Credit Union. No wonder we say, &quot;It's better to be a member!&quot; </p>

<h2>It's Better To Be A Member!</h2>
<p>Why did Healthcare Systems Federal Credit Union choose this tagline? In order to fully understand the reasons behind our choice, it helps to look at the Credit Union’s history. What is a better time to do so than during this year, our 40th anniversary?</p>

<p>HSFCU was originally conceived in 1969 to provide Fairfax Hospital employees with the following:</p>
<ol>
	<li>Easy and convenient access to banking services</li>
    <li>Low-cost loans</li>
    <li>Multiple savings options</li>
    <li>Improved financial education</li>
	
</ol>

<p>The Credit Union began as a result of a discussion by Fairfax Hospital leaders about common departmental problems. One especially noteworthy issue was in regard to employees and their banking. For example, employees constantly requested time to go off campus to visit their banks. Team members frequently complained about high-rate loans and high service charges on checking accounts. Workers who were normally reliable were slumping, due to financial issues at home. And then someone had an idea: Why not ask the CEO to charter a credit union? As a result, HSFCU was born.</p>

<p>Over the years, more and more people used the services HSFCU offered to improve their lives and those of their families. Eventually, the Credit Union and its sponsor received requests to provide the same employee benefits to other regional medical facilities. The principle of "people helping people" upon which the international credit union movement was founded had taken root and was nourished by dedicated volunteer board members, committee volunteers, staff and member-owners. Thousands of HSFCU members' lives were changed for the better, due to the vision of a few caring people! </p>

<p>Today, the tradition continues. Dedicated to our core purpose - &quot;to provide people with the opportunity to improve their lives&quot;- HSFCU’s volunteers and staff strive to make certain that <span class="bold">&quot;It’s better to be a member.&quot;</span> Members' funds on deposit are invested with care and loaned only to other members. Service charges and fees are kept to the minimum and as low as possible, and the financial stability of the Credit Union is carefully maintained.</p>

<p>In addition, all of our member-owners are treated with dignity and respect. Staff members receive regular training on operational and service issues to ensure that the highest degree of professional care is given to the needs of all of our member-owners. </p>

<p>Every day, the volunteers and staff of HSFCU strive vigorously to prove that &quot;It’s better to be a member.&quot; We sincerely hope that you will agree! If you have any suggestions to make your membership experience even better, please let us know.</p>
</div>
