<div id="content" class="clearfix">
<h2>eStatements</h2>
<p>With HSFCU's eStatement service, there’s no need to wait for your printed account statement to arrive in the mail. Your account statement can be easily viewed by logging on to HSFCU’s secure Online Banking.</p>
<p>Consider the benefits:</p>
<ul>
	<li>They're FREE!</li>
    <li>View check images and transactions from the comfort of your home or office</li>
    <li>eStatements can be saved into your computer’s memory or printed out</li>
    <li>You’re notified by e-mail when your eStatement is available for viewing</li>
    <li>Helps save trees used for paper statements</li>
    <li>Cuts down on clutter in your home</li>
    <li>Conserves energy used to make paper statements</li>
    <li>Reduces greenhouse gas emissions from the delivery of paper statements</li>
</ul>

<p>Please note: You must log on to Online Banking in order to use eStatements. If you are new to Online Banking, choose &quot;Online Banking&quot; from the &quot;Online Services&quot; menu above and use the &quot;New Users Click Here&quot; link on that page.</p>

<p>If you already use HSFCU’s Online Banking and want to receive eStatements, click <%= link_to "here", new_hb_login_path %>. </p>

</div>
