<div id="content" class="clearfix">
<h2>Current HSFCU Deposit Rates | <span class="small"><%= link_to "Loan Rates", loanrates_path %></span></h2>
<div id="fees" class="clearfix">
	<table>
    	<tr>
        <th colspan="2">Healthcare Systems FCU Fees and Charges<br />Effective 04/12/2010</th>
        </tr>
        <tr>
        	<td class="bold">Close Account Fee (within 2 months of opening)</td>
            <td>$20.00</td>
        </tr>
        <tr>
        <td class="bold">Money Orders</td>
        <td>$2.00</td>
        </tr>
        <tr>
        	<td class="bold highlight" colspan="2">Stop Payment</td>
        </tr>
        <tr>
        	<td class="indent">Treasurers Check</td>
            <td>$8.00</td>
        </tr>
        <tr>
        	<td class="indent">Share Draft</td>
            <td>$30.00</td>
        </tr>
        <tr>
        	<td class="bold highlight" colspan="2">Insufficient Funds</td>
        </tr>
        <tr>
        	<td class="indent">Item Paid</td>
            <td>$30.00</td>
        </tr>
        <tr>
        	<td class="indent">Item Returned</td>
            <td>$30.00</td>
        </tr>
        <tr>
        	<td class="bold">Levy/Garnishment</td>
            <td>$30.00</td>
        </tr>
        <tr>
        	<td class="bold">Photocopy - Checks</td>
            <td>$2.00</td>
        </tr>
        <tr>
        	<td class="bold highlight" colspan="2">Share Account Service Charge</td>
        </tr>
        <tr>
        	<td class="indent">(charged monthly, if balance falls below $50.00 on last day of a month)</td>
            <td>$5.00</td>
        </tr>
        <tr>
        	<td class="bold highlight" colspan="2">Duplicate Copy of Account Statement</td>
        </tr>
        <tr>
        	<td class="indent">Printed in Branch</td>
            <td>$5.00</td>
        </tr>
        <tr>
        	<td class="indent">Printed Online</td>
            <td>FREE</td>
        </tr>
        <tr>
        	<td class="bold">Research and Balance Statement (per hour)</td>
            <td>$25.00</td>
        </tr>
        <tr>
        	<td class="bold">Incoming Wire Transfers</td>
            <td>FREE</td>
        </tr>
        <tr>
        	<td class="bold highlight" colspan="2">Outgoing Wire Transfers</td>
        </tr>
        <tr>
        	<td class="indent">(Domestic)</td>
            <td>$10.00</td>
        </tr>
        <tr>
        	<td class="indent">(International)</td>
            <td>Market Price</td>
        </tr>
        <tr>
        	<td class="bold">Returned Deposit Item</td>
            <td>$5.00</td>
        </tr>
        <tr>
        	<td colspan="2" class="bold highlight">Treasurers Check</td>
        </tr>
        <tr>
        	<td class="indent">Payable to you</td>
            <td>FREE</td>
        </tr>
        <tr>
        	<td class="bold">Payable to a third party</td>
            <td>$5.00</td>
        </tr>
        <tr>
        	<td class="bold">Returned Statement (incorrect address)</td>
            <td>$5.00</td>
        </tr>
        <tr>
        	<td class="bold">Dormant Account Fee*</td>
            <td>$5.00/mo.</td>
        </tr>
        <tr>
        	<td class="bold">Touch Tone Teller</td>
            <td>FREE</td>
        </tr>
        <tr>
        	<td class="bold">Online Banking</td>
            <td>FREE</td>
        </tr>
        <tr>
        	<td class="bold">Online Bill Pay</td>
            <td>FREE</td>
        </tr>
        <tr>
        	<td class="bold highlight" colspan="2">ATM/Check Cards</td>
        </tr>
        <tr>
        	<td class="indent">Withdrawals made at HSFCU-owned ATMs</td>
            <td>FREE</td>
        </tr>
        <tr>
        	<td class="indent">Point-of-Sale Purchases</td>
            <td>FREE</td>
        </tr>
        <tr>
        	<td class="indent">Withdrawals at non-HSFCU-owned ATMs</td>
            <td>$1.50</td>
        </tr>
        <tr>
        	<td class="disclaimer" colspan="2">(Additional charges may be placed by the institution owning the machine. These charges, if any, may vary.)</td>
        </tr>
        <tr>
        	<td class="bold">Replacement of Credit or Debit Card</td>
            <td>$10.00</td>
        </tr>
        <tr>
        	<td class="bold">Replace lost PIN</td>
            <td>FREE</td>
        </tr>
        <tr>
        	<td class="bold">Special Collection Item</td>
            <td>$30.00</td>
        </tr>
        <tr>
        	<td class="bold">Transfer from Savings to Share Draft Account to cover NSF</td>
            <td>$5.00</td>
        </tr>
        <tr>
        	<td class="disclaimer" colspan="2">(Charged each occurrence. Maximum 3 times per month, limited by regulation.)</td>
        </tr>
        <tr>
        	<td colspan="2">
            <p class="header">Cash Withdrawal Policy</p>
            <p class="disclaimer">(At those branches which disburse cash only) - $2,000.00 per member is our daily over-the-counter cash back limit in our lobby. If you need more cash, please call the Credit Union at 703-776-2700 at least 24 hours prior to the planned withdrawal.</p>
            <p class="header">Check Cashing Policy</p>
            <p class="disclaimer">Check cashing services are available at cash dispensing branches only, for members with share draft checking accounts. As long as you maintain an active share draft account in good standing, the Credit Union will cash personal checks from other institutions against the funds held in your Credit Union accounts. Check cashing privileges may be revoked on an individual's account following the return of NSF checks. </p>
            <p class="header">*A dormant account fee of $5 will be charged for each month after 12 consecutive months of inactivity, or no notice from you in writing of interest by you in this account. </p>
            </td>
        </tr>
    </table>
</div>
</div>