<div id="content" class="clearfix">
<h2>Loans</h2>
<%= render "layouts/loansheader" %>

<h2 class="space">Home Equity Lines of Credit</h2>
<a href="hbv3_2/hbloanapplogin.asp"><img src="images/apply_now.png" class="fright image" alt="" /></a>
<p>Use your home's equity to fund large expenses or purchases. We offer loans with fixed rates and terms if you’re planning to use all the funds at once, or a variable-rate home equity line of credit that lets you access funds whenever you have the need.</p>

<p class="bold">Home Equity Lines</p>
              <ul>
                <li>Borrow up to 90% of your home’s equity  </li>
                          <li>Ready whenever you need it  </li>
                          <li>Low variable rate based on the Prime Rate </li>
      </ul>
                        <p class="bold">Fixed-Rate Home Equity Loans</p>
                        <ul>
                          <li>Borrow up to 90% of your home’s equity  </li>
                          <li>Loan terms of 60 to 120 months  </li>
                          <li>Fixed rate, term and payments to fit your   budget </li>
                          <li>Interest payments may be tax-deductible (consult your tax adviser for more information)</li>
                        </ul>
      <p><strong>Ask about our Express Trust option for extra-fast, low-documentation loans   up to $75,000.</strong></p>
                       

              <h2 class="space">Fixed &amp; Flexible Home Equity Loan</h2>
              <p>The Fixed &amp; Flexible Home Equity Loan gives  you the protection you need when the Prime Rate is on the rise. Here’s how: </p>
              <ul>
                <li>We'll lock in the rate and payment on the outstanding balance of your current credit line. </li>
                <li>Any unused portion of your line will remain as a revolving line of credit tied to the Prime Rate, ready should you need it. </li>
                <li>Home equity lines from ALL institutions are eligible for conversion. </li>
              </ul>
              <p class="bold">Enjoy These Benefits</p>
              <ul>
                <li>You don't give up any of your borrowing power </li>
                <li>You pay interest only on what you use* </li>
                <li>We pay your closing costs** </li>
              </ul>
              <p>If  your current home equity line is starting to pinch your budget. HSFCU's new  Fixed &amp; Flexible Home Equity Loan is the solution. It gives you the  protection of a fixed rate, combined with the flexibility of a line of credit. </p>
              <p class="disclaimer">*Property insurance and HSFCU  membership required.<br />
                **If your Fixed &amp; Flexible  Home Equity Loan is closed within three years after opening, the closing costs  will be reinstated. </p>
              

<p><%= link_to "Back", "javascript: history.go(-1)" %></p>

</div>
