<div id="content" class="clearfix">
<h2>Our History</h2>
<p class="bold">History of Healthcare Systems FCU</p>

<p>Healthcare Systems Federal Credit Union (HSFCU) was founded in December of 1969 in order to improve the financial lives of Fairfax Hospital employees. Originally named Fairfax Hospital Employees Credit Union, HSFCU changed its name in the 1980s to Healthcare Systems FCU to better reflect its growing membership. This membership includes not only the employees of Fairfax Hospital, but also other employees of the Inova Health System and affiliated support organizations. In 2007, HSFCU merged with Prince William Hospital Employees Credit Union, further increasing our membership, and opened up a new Main Office at Inova Fairfax Hospital. In January 2008, the Credit Union opened a full-service Prince WIlliam Office in Manassas, on the Prince William Hospital campus.</p>
<p>Now, HSFCU is a full-service institution that serves over 10,000 members in the healthcare industry throughout the DC metro area and beyond, and offers a wide variety of financial products and services. Our core purpose is to provide people with the opportunity to improve their lives, so we not only supply quality financial products and services, but also hold financial literacy seminars and more to give our members the knowledge they need to make smart financial decisions. </p>
<p>Each member has an equal voice at HSFCU. Members can also volunteer to serve on HSFCU organizations such as the Board of Directors, which is comprised of Credit Union members just like you. Elected during the Annual Election, these individuals make decisions about Credit Union policies and more, and work hard to ensure that the decisions they make are in the best interests of all HSFCU members.</p>

<p class="bold">Our Core Values</p>
<ol>
	<li>Respect and care about all individuals </li>
    <li>Adaptive to change</li>
    <li>Honesty and integrity</li>
    <li>Knowledge and education</li>
	
</ol>


</div>
