<div id="content" class="clearfix">
<h2>Individual Retirement Accounts | <span class="small"><%= link_to "Check Out Our Rates", depositrates_path %></span></h2>

<p>Invest in your future by opening an Individual Retirement Account (IRA). We offer Traditional, Roth and Education IRAs. Save for a comfortable retirement or a great education for your kids, and enjoy the tax benefits that IRAs provide. You can make contributions whenever you like, with as little as $5.</p>
</div>
