<div id="content" class="clearfix">
<h2>Current HSFCU Loan Rates | <%= link_to "<span>Deposit Rates</span>", depositrates_path, :class=>"small" %></h2>
<div id="rates" class="clearfix">
	<table>
    	<tr>
        	<th colspan="5">Deposit Rates</th>
        </tr>
        <tr>
        	<td class="title">Description</td>
            <td class="title">Terms*</td>
            <td class="title">APR**</td>
            <td class="title">Payment Factor</td>
            <td class="title">Maximum Amount</td>
        </tr>
        <tr>
        <td colspan="5" class="dark">NEW PASS. VEHICLE &amp; MOTORCYCLE (as low as):</td>
        </tr>
        <tr>
        	<td rowspan="4" class="bold">100%</td>
            <td>36 Mo.</td>
            <td>3.99%</td>
          <td>&nbsp;</td>
            <td class="bold">100%</td>
        </tr>
        <tr>
        	<td>48 Mo.</td>
            <td>4.99%</td>
          <td>&nbsp;</td>
            <td class="bold">100%</td>
        </tr>
        <tr>
          <td>60 Mo.</td>
          <td>5.49%</td>
          <td>&nbsp;</td>
          <td class="bold">100%</td>
        </tr>
        <tr>
        	<td>72 Mo.</td>
            <td>6.99%</td>
          <td>&nbsp;</td>
            <td class="bold">MIN $20,000</td>
        </tr>
        <tr>
        	<td class="bold">90%</td>
            <td>84 Mo.</td>
            <td>7.99%</td>
            <td>&nbsp;</td>
            <td><span class="bold">MIN $30,000</span></td>
      </tr>
        <tr>
        <td colspan="5" class="dark">USED VEHICLE &amp; MOTORCYCLE, NADA Trade-In Value (as low as):</td>
        </tr>        
        <tr>
        	<td class="bold"></td>
            <td>36 Mo.</td>
            <td>3.99%</td>
            <td>&nbsp;</td>
            <td class="bold">NADA VALUE</td>
        </tr>
        <tr>
        	<td></td>
        	<td>48 Mo.</td>
            <td>4.99%</td>
            <td>&nbsp;</td>
            <td class="bold">NADA VALUE</td>
        </tr>
        <tr>
        	<td class="bold">$7,500 Min.</td>
        	<td>60 Mo.</td>
            <td>5.99%</td>
            <td>&nbsp;</td>
            <td class="bold">NADA VALUE</td>
        </tr>
		<tr>
        	<td class="bold">$20,000 +</td>
        	<td>72 Mo.</td>
            <td>6.99%</td>
            <td>&nbsp;</td>
            <td class="bold">NADA VALUE</td>
        </tr>      
        <tr>
        <td colspan="5" class="dark">USED VEHICLE &amp; MOTORCYCLE, NADA Retail Value (as low as):</td>
        </tr>        
        <tr>
        	<td class="bold"></td>
            <td>36 Mo.</td>
            <td>5.99%</td>
            <td>&nbsp;</td>
            <td class="bold">NADA VALUE</td>
        </tr>
        <tr>
        	<td></td>
        	<td>48 Mo.</td>
            <td>6.49%</td>
            <td>&nbsp;</td>
            <td class="bold">NADA VALUE</td>
        </tr>
        <tr>
        	<td class="bold">$7,500 Min.</td>
        	<td>60 Mo.</td>
            <td>6.99%</td>
            <td>&nbsp;</td>
            <td class="bold">NADA VALUE</td>
        </tr>
		<tr>
        	<td class="bold">$20,000 +</td>
        	<td>72 Mo.</td>
            <td>8.25%</td>
            <td>&nbsp;</td>
            <td class="bold">NADA VALUE</td>
        </tr>   
<tr>
        <td colspan="5" class="dark">NEW and USED BOAT, MOBILE HOME, RV (as low as):</td>
        </tr>        
        <tr>
        	<td class="bold"></td>
            <td>Up to 84 Months</td>
            <td colspan="3"> New or Used Car Rate Plus 1%</td>

        </tr>         
		<tr>
        <td colspan="5" class="dark">CD SECURED:</td>
        </tr>        
        <tr>
        	<td class="bold"></td>
            <td>Maturity</td>
            <td colspan="2">CD</td>
            <td class="bold">100%</td>

        </tr>         
<tr>
        <td colspan="5" class="dark">HOME EQUITY LINE OF CREDIT:</td>
        </tr>        
        <tr>
        	<td class="bold">80% or 90% of LTV</td>
            <td>Open End</td>
            <td colspan="2">as low as Prime, minus 1/2%</td>
            <td class="bold">$10,000 MIN<br />$250,000 MAX</td>

        </tr>          
<tr>
        <td colspan="5" class="dark">HOME EQUITY Fixed and Flexible LOAN / LINE COMBO (as low as):</td>
        </tr>        
        <tr>
        	<td class="bold">80% Equity</td>
            <td>60/360 Fixed Floating Line</td>
            <td>5.99%**</td>
            <td></td>
            <td class="bold">$250,000 MAX
</td>

        </tr>     
      
        <tr>
        	<td class="bold">90% Equity</td>
            <td>60/360 Fixed Floating Line</td>
            <td>7.25%**</td>
            <td></td>
            <td class="bold">$250,000 MAX
</td>

        </tr>  
<tr>
        <td colspan="5" class="dark">HOME EQUITY LOAN (as low as):</td>
        </tr>        
        <tr>
        	<td class="bold">80% Equity</td>
            <td>60 Mo.</td>
            <td>4.99%</td>
            <td></td>
            <td class="bold">$250,000 MAX</td>
        </tr>     
        <tr>
        	<td class="bold">90% Equity</td>
            <td>60 Mo.</td>
            <td>7.25%</td>
            <td></td>
            <td class="bold">$250,000 MAX</td>
        </tr>
        <tr>
        	<td class="bold">80% Equity</td>
            <td>120 Mo.</td>
            <td>6.99%</td>
            <td></td>
            <td class="bold">$250,000 MAX</td>
        </tr>
        <tr>
        	<td class="bold">90% Equity</td>
            <td>120 Mo.</td>
            <td>7.99%</td>
            <td></td>
            <td class="bold">$250,000 MAX</td>
        </tr>   
<tr>
        <td colspan="5" class="dark">SECURED:</td>
        </tr>        
        <tr>
        	<td class="bold">Share 1 Dbl</td>
            <td>36 Mo.</td>
            <td colspan="2">5.00% above share rate</td>
            <td class="bold">$10,000 MAX</td>

        </tr>                                                                  
<tr>
        <td colspan="5" class="dark">SHARE SECURED:</td>
        </tr>        
        <tr>
        	<td class="bold"></td>
            <td>36 Mo.</td>
            <td colspan="2">2.00% above share rate</td>
            <td class="bold">100% SHARES</td>

        </tr>		    
        <tr>
        	<td class="bold"></td>
            <td>37+ Mo.</td>
            <td colspan="2">3.00% above share rate</td>
            <td class="bold">100% SHARES</td>

        </tr>      
<tr>
        <td colspan="5" class="dark">SIGNATURE (as low as):</td>
        </tr>        
        <tr>
        	<td class="bold">&nbsp;</td>
            <td>12 Mo.</td>
            <td>8.99%</td>
            <td></td>
            <td class="bold">$10,000 MAX</td>
        </tr>     
        <tr>
        	<td class="bold">&nbsp;</td>
            <td>24 Mo.</td>
            <td>9.99%</td>
            <td></td>
            <td class="bold">$10,000 MAX</td>
        </tr>
        <tr>
        	<td class="bold">&nbsp;</td>
            <td>36 Mo.</td>
            <td>11.24%</td>
            <td></td>
            <td class="bold">$10,000 MAX</td>
        </tr>
        <tr>
        	<td class="bold">&nbsp;</td>
            <td>48 Mo.</td>
            <td>12.99%</td>
            <td></td>
            <td class="bold">$10,000 MAX</td>
        </tr>  
<tr>
        <td colspan="5" class="dark">OVERDRAFT PROTECTION:</td>
        </tr>        
        <tr>
        	<td class="bold">&nbsp;</td>
            <td></td>
            <td>15.75%</td>
            <td></td>
            <td class="bold">$2,500 MAX</td>
        </tr>  
        <tr> 
                <td colspan="5" class="title"> <p class="disclaimer center">*All terms are approximate. <br />
**30 year amortization with a 5 year balloon.<br />
**As Low As Annual Percentage Rate (APR) is available to qualifying applicants only. Other rates and terms may apply.<br />
Prime Rate as of 12/15/08 was 4.00%</p>

<p class="disclaimer">Rates shown are effective 01/01/09.  Rates are subject to change weekly.</p>

                </td>                                               
              </tr> 
		</table>
	</div>
</div>							
