<div id="content" class="clearfix">
<h2>Becoming a Member</h2>
<p class="header">Opening an Account</p>
<p>To open your account, just complete a membership application. <br />
The minimum share balance is $50.</p>
<p>Many members choose to use automatic allotment or direct deposit to have all or part of their paychecks deposited to their Credit Union savings or share draft account.</p>
<p class="header">Eligibility Requirements</p>
<p>Employees, staff and retirees of the following are eligible for Credit Union membership:</p>

<ul>
	<li>Any person who works in the HealthCare Industry in Northern Virginia and Fauquier and Stafford Counties, District of Columbia and the Maryland Counties of Montgomery and Prince Georges’ are eligible for membership. </li>
    <li>Inova Health Care Corporation  </li>
    <li>Potomac Health Care Corporation  </li>
    <li>American Medical Laboratories  </li>
    <li>MWH/Medicorp  </li>
    <li>Service organizations that are a part of Inova Health Systems  </li>
    <li>Staff medical practitioners of the above facilities, and their employees  </li>
    <li>Volunteers of the above facilities  </li>
    <li>Members of employee organizations of the above facilities  </li>
    <li>Employees of Reston Children's Center and Olde Town Anesthesia Associates  </li>
    <li>Members' relatives by blood, marriage or adoption - Once a Member, Always a Member  </li>
    <li>You and your family may retain your Credit Union membership for a lifetime - even if you change your job, residence (worldwide) or retire. </li>
</ul>

<p>Members of your immediate family may become Credit Union members regardless of residence.</p>
<p>Don't see your organization listed? Want to check your eligibility? Call us at 703-776-2700 or 800-250-9676, or e-mail us at <%= mail_to "info@healthcarefcu.org", "info@healthcarefcu.org" %>. </p>
</div>
