<div id="content" class="clearfix">
<h2>Money Market Accounts | <span class="small"><%= link_to "Check Out Our Rates", depositrates_path(:anchor => "moneymarket") %></span></h2>

<p>If you are seeking a flexible account that earns a competitive rate and provides quick access to your funds, our Money Market Account is for you. This account is especially useful for long-term savings goals such as an emergency fund or a new car and earns a higher rate than our Regular Share or Share Draft accounts. </p>

<ul>
	<li>As your balance increases, so do your earnings with our tiered rates (after your savings reach $1,500)</li>
    <li>Make unlimited withdrawals in person </li>
    <li>Make limited withdrawals by check or by transferring funds (ask us for details)</li>
</ul>

<p>For more information about our Money Market Accounts, contact an HSFCU representative or call 703-776-2700. </p>
</div>
