<div id="content" class="clearfix">
<h2>NCUA Insurance</h2>

<p>Your funds at HSFCU are insured by the National Credit Union Share Insurance Fund (NCUSIF), an arm of the National Credit Union Administration (NCUA). Established by Congress to insure member share accounts at federally insured credit unions, the NCUSIF is strong, well-funded, and backed by the full faith and credit of the United States Government. Not one penny of insured savings has ever been lost by a member of a federally insured credit union.</p>
<p>In accordance with the Emergency Economic Stabilization Act of 2008, effective October 3, 2008, each member’s share accounts at HSFCU are insured up to at least $250,000, and Traditional and Roth Individual Retirement Accounts (IRAs) are insured separately, up to an additional $250,000. When needed, account ownership may be structured to provide coverage well above the individual limits. Contact the Credit Union for details.</p>
<p>For more information on share insurance, watch this informative video. </p>
<object type="application/x-shockwave-flash" data="cuplayer.swf" width="320" height="180" id="single1">
                        <param name="movie" value="cuplayer.swf" />
                        <param name="allowScriptAcess" value="sameDomain" />
                        <param name="quality" value="best" />
                        <param name="bgcolor" value="#ffffff" />
                        <param name="scale" value="noScale" />
                        <param name="wmode" value="opaque" />
                        <param name="salign" value="TL" />

</object>



<p><%= link_to "Contact us", new_contact_path %> for details.</p>
</div>
