<div id="content" class="clearfix">
<h2>Loans</h2>
<%= render "layouts/loansheader" %>


<h2 class="space">New &amp; Used Vehicle Loans</h2>
<a href="hbv3_2/hbloanapplogin.asp"><img src="images/apply_now.png" class="fright image" alt="" /></a>
<p>We provide competitive rates and flexible loan terms on both new and used vehicles of all types: cars, trucks, SUVs, hybrids and motorcycles. You’ll love our fast, no-hassle application process, and you can get a fast decision, too — usually the same day. For your convenience, your payments can be made automatically through payroll deduction.</p>
<p><%= link_to image_tag("balancetrack_driveaway.jpg", :alt=>""), "http://www.balancetrack.org/checking/", :rel=>"confirm external" %></p>

<p><%= link_to "Back", "javascript: history.go(-1)" %></p>

</div>
