<div id="content" class="clearfix">
<h2>Opt In for Overdraft Protection</h2>
<p class="center"><%= image_tag "optin.jpg", :alt=>"" %></p>
 <p class="header">Why Should You Opt In?</p>
  <p>As the result of new federal regulations, consumers must now choose to opt-in for overdraft protection. Beginning August 15, 2010, your ATM and everyday debit card transactions <strong>may be declined</strong> if they exceed the available funds in your HSFCU account, unless you have chosen to opt-in for overdraft protection.</p>
  
  <p>HSFCU's overdraft protection is designed with your protection and convenience in mind. The vast majority of our members do not overdraw their accounts and incur fees; however, life doesn’t always go according to plan and overdrafts do occur.  Without overdraft protection, your ATM and everyday debit card transactions may be declined if you attempt a transaction and do not have sufficient funds.</p>
  <br />
<p class="header">How Do You Opt-In?</p>
<p class="center">1. Print out the Opt-In Form (<%= link_to "CLICK HERE", "pdf/Overdraft  Opt-In Disclosure.pdf", :rel=>"external" %>).  Complete it and fax it back to us at <strong>703-776-3612</strong>.</p>
<p class="center">OR</p>
<p class="center">2. Stop by the Credit Union and complete the Opt-In Form.</p>
<br /><br />
<p>For more information or if you have any questions,  please refer to &quot;Important Changes Have Come to ATM and Debit Card  Overdraft Protection,&quot; found <%= link_to "here", "pdf/ODP Letter to Members post August 15th.pdf", :rel=>"external" %>. Or, call us at  703-776-2700 or e-mail us at <%= mail_to "eservices@hsfcu1.org", "eservices@hsfcu1.org" %>.</p>
</div>
