<div id="content" class="clearfix">
<h2>Online Bill Pay</h2>
<p>HSFCU’s Online Bill Pay service is secure, fast and convenient, enabling you to pay anyone – anywhere in the United States. </p>
<p>Better yet, Online Bill Pay is absolutely FREE! There are no charges for using this service, no matter how many bills you pay. It's easier than writing checks and licking envelopes, and faster than logging on to individual billers' sites to pay bills one by one. With HSFCU's Online Bill Pay, you can log on just once to pay all the your bills. </p>

<ul>
	<li>Pay bills whenever you want, 24/7 </li>
    <li>Set up recurring payments  </li>
    <li>Schedule your payments in advance </li>
    <li>Track your payment history – see who you paid, when and how much</li>
    <li>All your payees are stored online – enter new ones whenever you like </li>
</ul>

<p>Note: You must <%= link_to "register for HSFCU's free Online Banking", new_internetbranchsignup_path %> in order to use the Online Bill Pay service.</p>

<p class="header">How To Sign Up For Online Bill Pay Within Online Banking</p>
<p>It's easy to sign up for Online Bill Pay. Once you're in Online Banking, just click on the Bill Payment link and agree to the disclosure. Then you can begin adding payees. You just need to wait up to 24 hours to make your first payment. That's all there is to it!</p>
</div>
