<div id="content" class="clearfix">
<h2>HSFCU ONLINE BANKING...A Better Way to Manage Your Money!</h2>
<p>With HSFCU's Online Banking, you can now enjoy the ease and convenience of managing your accounts from your home, office or wherever you may be. Online Banking is quick, easy, secure and best of all – absolutely FREE.</p>
<ul>
	<li>Access your account 24 hours a day, 7 days a week</li>
    <li>View real-time account balance information and history  </li>
    <li>Transfer funds between accounts  </li>
    <li>Verify whether a check has cleared  </li>
    <li>Export account information to Microsoft® Money </li>
    <li>View year-to-date tax information  </li>
    <li>And much more! </li>
</ul>

<p class="header">Pay Bills, Too! </p>
<p>Online Banking users can sign up for FREE Online Bill Pay and pay unlimited bills, any time, with no transaction fees.</p>

<p class="header">HSFCU Online Banking Is Safe And Secure </p>
<p>Built around the latest Web security software and protocols, you can rest assured knowing that your account information is always private and secure. </p>

<ul>
	<li><%= link_to "Electronic Services Agreement", new_internetbranchsignup_path %></li>
    <li><%= link_to "Online Banking Login", new_hb_login_path %> - <%= link_to "<span>New Users Click Here</span>", new_internetbranchsignup_path, :class=>"bold" %></li>
</ul>
</div>
