<div id="content" class="clearfix">
<h2>Privacy Policy</h2>

<p>Healthcare Systems Federal Credit Union, your  member-owned financial institution, is committed to providing you with competitive  products and services to meet your financial needs and help you reach your  goals. We are equally committed to protecting the privacy of our members.  Under federal law, we are required to give you this privacy notice. It  describes our Credit Union’s privacy policy and practices concerning the  personal information we collect and disclose about our members. It also  includes information about the parties who receive personal and sometimes  nonpublic information from us as we conduct the business of the Credit Union.<br />
If after reading this notice you have questions,  please contact us at: 800-250-9676 or 703-776-2700</p>
<p>Or write to:<br />
Healthcare Systems Federal Credit Union<br />
3300 Gallows Road Falls Church, VA 22042</p>
    <p class="header">Information We  Collect About You</p>
    <p>We collect nonpublic personal information about you  from the following sources:</p>
	  <ul>
      <li>Information we receive from you on applications and  other forms</li>
      <li>Information about your transactions with us</li>
      <li>Information we receive from a consumer reporting  agency</li>
      <li>Information obtained when verifying the information  you provide on an application or other forms; this may be obtained from your  current or past employers or from other institutions where you conduct  financial transactions</li>
</ul>
      <p>We may disclose all of the information we collect, as  described above, as permitted by law.</p>
    <p class="header">Parties Who Receive  Information from Us</p>
<p>We may disclosure nonpublic personal information about  you to the following types of third parties:</p>
<ul>
    <li><span class="bold">Financial service  providers</span>, such as insurance companies</li>
    <li><span class="bold">Non-financial  companies,</span> such as consumer reporting agencies, data processors,  check/share draft printers, financial statement, publishers/printers, plastic  card processors, government agencies and mailhouses.</li>
    </ul>
   
    <p class="header">Disclosure Of  Information To Parties That Provide Services To Us</p>
<p>In order for us to conduct the business of the Credit  Union, we may disclose all of the information we collect, as described above,  to other financial institutions with whom we have joint marketing agreements,  to other companies that perform marketing services on our behalf, or to  nonaffiliated third parties for the purposes of processing and servicing  transactions that you request or authorize, so that we may provide members  competitive products and services. </p>
    <p>We may also disclose nonpublic personal information  about you under circumstances as permitted or required by law. These  disclosures typically include information to process transactions on your  behalf, conduct the operations of our Credit Union, follow your instructions as  you authorize or protect the security of our financial records.</p>
    <p>To protect our members’ privacy, we only work with  companies that agree to maintain strong confidentiality protections and limit  the use of information we provide. We do not permit these companies to sell the  information we provide to other third parties.</p>
    
    <p class="header">Disclosure of Information about  Former Members</p><p>If you terminate your membership with Healthcare  Systems Federal Credit Union, we will not share information we have collected about  you, except as may be permitted or required by law. </p>
<p class="header">How We Protect Your Information</p>
<p>We restrict access to nonpublic personal information  about you to those employees who need to know that information to provide  products and services to you. We maintain physical, electronic or procedural  safeguards that comply with federal regulations to guard your nonpublic  personal information. </p>
<p class="header">What Members Can Do To Help</p>
      <p>Healthcare Systems Federal Credit Union is committed  to protecting the privacy of its members. Members can help by following these  simple guidelines:    </p>
<ul>
    <li>Protect your account numbers, plastic card numbers;  personal identification numbers (PINs) or passwords. Never keep your PIN with  your card.&nbsp; The PIN can provide free access to your accounts if your card  is lost or stolen.</li>
    <li>Use caution when disclosing your account numbers,  Social Security numbers, etc. to other persons. If someone calls you explaining  the call is on the behalf of the Credit Union and asks for your account number,  you should beware.&nbsp; Official Credit Union staff will have access to your  information and will not need to ask for it.</li>
    <li>Keep your information with us current. If your  address or phone number changes, please let us know. It is important that we  have current information on how to reach you. If we detect potentially  fraudulent or unauthorized activity or use of an account, we will attempt to  contact you immediately.</li>
    </ul>
      <p>Let  us know if you have questions. Please do not hesitate to call us<br />
        – We  are here to serve you!</p>


</div>