<div id="content" class="clearfix">
<h2>Loans</h2>
<%= render "layouts/loansheader" %>

<h2 class="space">Recreation Vehicle Loans</h2>
<a href="hbv3_2/hbloanapplogin.asp"><img src="images/apply_now.png" class="fright image" alt="" /></a>
<p>With affordable payments and competitive rates, these loans are ideal for buying a new or used boat, mobile home or recreational vehicle.  Plus, the simple application process and fast response can get you on the road or on the water quickly and easily.</p>
<p><%= link_to "Back", "javascript: history.go(-1)" %></p>
</div>
