<div id="content" class="clearfix">
<h2>Regular Share Accounts | <span class="small"><%= link_to "Check Out Our Rates", depositrates_path %></span></h2>

<p>Become a member of HSFCU and enjoy a lifetime of financial services and benefits. All it takes to establish your membership is a deposit of $50 or more to open your share account. Then, make your deposits and watch your money grow. And with our tiered rates, as your balance increases, so do your dividends.</p>
</div>
