<div id="content" class="clearfix">
<h2>Second Chance Checking</h2>

<p>If you've ever had problems that have caused other institutions to deny you a checking account or revoke your checking privileges, HSFCU's Second Chance Checking Account gives you a second chance at financial health. This checking account is a useful way to take charge of your financial future, improve your money management skills and polish up your credit rating. 
</p>

<p>Second Chance Checking offers many convenient features, such as: </p>
<ul>
	<li>Direct Deposit</li>
    <li><%= link_to "Online Banking", onlinebank_path %></li>
    <li><%= link_to "Online Bill Pay", onlinebillpay_path %></li>
    <li>Checking account management class provided to the owner(s) of the account </li>
    <li>Potential upgrade to a regular Share Draft Checking Account after one year* </li>
</ul>

<p>There is a monthly maintenance fee of $10 for this account. To learn more about Second Chance Checking, contact an HSFCU representative or call 703-776-2700. </p>
<p class="disclaimer">*After one year of satisfactory management of the account, a regular Share Draft Checking Account may be offered to the account owner. Any overdrafts or returned deposit items occurring in conjunction with the Second Chance Checking Account will result in the immediate closing of this account. The Credit Union reserves the right to close this account at any time without prior notice, at its sole discretion.</p>
<p><%= link_to image_tag("balancetrack_checking.jpg", :alt=>""), "http://www.balancetrack.org/checking/", :rel=>"confirm external" %></p>
</div>
