<div id="content" class="clearfix">
<h2>Security Statement</h2>

<p>Security is a priority at Healthcare Systems Federal Credit Union. We are committed to protecting the security and confidentiality of your information. We use a combination of state-of- the-art technology and methods to help ensure that your online sessions are secure: </p>
<p class="header">Internet Security Measures</p>
<p>Your information is scrambled. This technology, called Secure Socket Layers (SSL), protects information you submit or receive through this site. No representation is made, however, regarding the unconditional security of such submissions. </p>

<p class="header">Healthcare Systems Federal Credit Union - Approved Browsers</p>
<p>Healthcare Systems Federal Credit Union standards are among the highest of companies on the Internet and requires that your browser support SSL. </p>

<p class="header">Firewalls</p>
<p>Healthcare Systems Federal Credit Union uses firewalls to help limit entry by anyone without proper authorization. A firewall is a security mechanism that regulates the data going in and out of a network. It is a commonly used, specialized computer, which acts as a shield against data going in or out of a network. It checks to make sure that communications only occur between approved individuals and that the communication is in the proper protocol.</p>

<p class="header">Constant Surveillance</p>
<p>Healthcare Systems Federal Credit Union’s security systems regularly monitor the Web server to help ensure your information is secure. </p>
</div>
