<div id="content" class="clearfix">
<%= link_to image_tag("share_swirl.gif", :alt=>"", :class=>"fright image"), "http://www.cuservicecenter.com/", :rel=>"confirm external" %>
<h2>Shared Branches</h2>

<p>HSFCU participates in the CU Service Centers shared branch network, enabling you to do your banking in person at thousands of shared branches across the country. It's just like banking at HSFCU!</p>
<p>Many of these branches offer extended evening and Saturday hours for your convenience. At these shared branches, you can:</p>

<ul>
	<li>Cash checks</li>
    <li>Get cash advances</li>
    <li>Check your account balance</li>
    <li>Make deposits or loan payments</li>
    <li>Withdraw funds (some cash limits may apply)</li>
    <li>Buy items such as official checks, traveler's checks and money orders</li>
</ul>

<p class="bold">Note: When you go to a shared branch, be sure to bring a valid, government-issued ID card such as a driver's license or a military ID card. Also, bring your member number and your HSFCU account number, since the shared branch will not have this information.</p>

<p>For a listing of shared branch locations, <%= link_to "click here", "http://www.cuservicecenter.com/", :rel=>"confirm external" %>.</p>
</div>
