<div id="content" class="clearfix">
<h2>Share Draft Checking | <span class="small"><%= link_to "Check Out Our Rates", depositrates_path %></span></h2>

<p>A checking (share draft) account is the cornerstone of any financial relationship, and HSFCU offers one of the best.  You'll love the many ways this account provides more convenience for you and saves you time.</p>

<p><span class="bold">No Minimum Deposit or Balance Requirements</span><br />
Many financial institutions require a minimum deposit to open a checking account and then require a minimum monthly balance to avoid fees. With HSFCU, there are no minimum deposit or balance requirements.</p>

<p><span class="bold">Direct Deposit</span><br />
Sign up for direct deposit and have your paycheck deposited directly into your checking account. You’ll have faster access to your funds and added peace of mind, too — whether you’re at home or traveling. Since the money goes directly into your account and not into your mailbox, direct deposit protects your paycheck from being lost or stolen when you’re away.</p>

<p><span class="bold">Overdraft Protection — The Choice Is Yours</span><br />
HSFCU offers three options for overdraft protection, allowing you to avoid both expense and embarrassment should a check be returned for insufficient funds.</p>

<ul>
	<li><span class="bold">Apply For Our Overdraft Line of Credit</span><br />Our line of credit combines an easy application process with the overdraft protection you want. Funds are automatically transferred when you need them. </li>
    <li><span class="bold">Transfer Money From Your Share Savings Account</span><br />Have money transferred from your regular share account to your draft account in order to cover the overdraft. You are allowed this type of transfer up to three times per month, and there is a small fee per transfer to your account. </li>
    <li><span class="bold">Overdraft Privilege</span><br />
    Overdraft Privilege is not a line of credit, but a courtesy extended to members who qualify, in which checks are covered up to a pre-determined amount. Although HSFCU’s normal non-sufficient funds fees apply, eligible members can avoid merchant returned check fees and the resulting hassle. Overdraft Privilege protects you not just for check writing, but ATM withdrawals and online purchases as well. </li>
</ul>

<p><span class="bold">Visa&reg; Check Card</span><br />With HSFCU’s Visa Check Card, paying for purchases or getting cash is quick and easy. Use your Visa Check Card to make purchases anywhere that accepts Visa debit or at thousands of ATMs with the STAR&trade;, PLUS&trade; or Visa emblems.</p>

<p>Our ATM Card provides the same convenient access to cash at STAR, PLUS and CU24 ATMs, and you can pay for purchases at merchants that participate in the STAR Point-of-Sale (POS) program. Also, you may use your card at surcharge-free ATMs with the CU24/CU HERE emblem.  Please contact us for more information.</p>

<p><span class="bold">FREE <%= link_to "Online Banking", new_hb_login_path %></span><br />Sign up for this online service and enjoy the convenience of 24-hour, 7-day access to your checking and share savings accounts. You can view your account balance in real time, make sure that checks have cleared and more!</p>

<p><span class="bold">Online Bill Pay</span><br />
Pay your bills from your home or office computer with our optional <%= link_to "Online Bill Pay Service", onlinebillpay_path %>. You can pay bills any time of day or night, transfer money between accounts, track your bill payments and set up repeating payments for up to 12 months in advance.</p>

<p>To take advantage of the outstanding benefits that an HSFCU checking account provides, contact us today! Stop by, call 703-776-2700 or 1-800-250-9676 for more information.</p>
</div>
