<div id="content" class="clearfix">
<h2>Loans</h2>
<%= render "layouts/loansheader" %>

<h2 class="space">Share Secured Loans</h2>
<a href="hbv3_2/hbloanapplogin.asp"><img src="images/apply_now.png" class="fright image" alt="" /></a>
<p>Using the funds in your HSFCU accounts is a great way to build or rebuild your credit rating, or to access funds without cashing out your savings. </p>
<p><%= link_to "Back", "javascript: history.go(-1)" %></p>
</div>
