<div id="content" class="clearfix">
<h2>Loans</h2>
<%= render "layouts/loansheader" %>

<h2 class="space">Signature Loans</h2>
<a href="hbv3_2/hbloanapplogin.asp"><img src="images/apply_now.png" class="fright image" alt="" /></a>
<p>Signature loans can make vacations or other expenses such as home repairs or sudden emergencies more affordable — particularly when compared to using high-rate credit cards. Borrow up to $10,000 with flexible loan terms and enjoy our low monthly payments.</p>
<p><%= link_to "Back", "javascript: history.go(-1)" %></p>
</div>
