<div id="content" class="clearfix">
<h2>Touch Tone Teller</h2>

<p><span class="bold">Convenience</span><br />
The Touch Tone Teller is ready when you are - almost any hour of the day, from any location where you have access to a telephone.  </p>

<p class="italic">If you are requesting a check withdrawal, checks for any requests before 3:00 p.m. are mailed the same day. Any checks requested after 3:00 p.m. are mailed the following day.  </p>

<p><span class="bold">Security</span><br />
Not only is the Touch Tone Teller system flexible and convenient, but it is also secure. Your account can be accessed only by using your four-digit PIN, which is checked and verified each time you call. You can maintain the security of your account by keeping the PIN confidential. <span class="italic">Never divulge this number to anyone over the telephone, not even the Credit Union staff.</span> </p>

<p>Touch Tone Teller does not allow cross-account transactions. This prevents anyone else from being able to access your account.  </p>

<p class="bold">How to use the Touch Tone Teller </p>

<p>The <span class="bold">pound symbol</span> (#) must be entered after each step to proceed to the next step. The <span class="bold">asterisk</span> (*) is used only for certain type of commands, as indicated below. </p>

<p>Now you are ready to use the Touch Tone Teller:</p>

<table id="touchtone" cellpadding="5" cellspacing="0">
	<tr>
    	<td class="bold italic first">Step 1</td>
        <td>Call the Touch Tone Teller by dialing 703-776-2498 or 1-800-250-3884. 
The computer will answer and ask you to... </td>
    </tr>
    
    <tr>
    	<td class="bold italic first">Step 2</td>
        <td>Enter your <span class="bold">account number and #</span></td>
    </tr>
    
    <tr>
    	<td class="bold italic first">Step 3</td>
        <td>Enter your <span class="bold">PIN and #</span>. </td>
    </tr>
    
    <tr>
    	<td class="bold italic first">Step 4</td>
        <td>Enter your <span class="bold">transaction code</span>: 
			<ol>
            <li>inquiry (#)</li>
            <li>share-to-share transfer (#)</li>
            <li>share-to-loan transfer (#)</li>
            <li>share withdrawal or loan add-on (#)</li>
            </ol> </td>
    </tr>
    
    <tr>
    	<td class="bold italic first">Step 5</td>
        <td>If you are making an inquiry, enter the inquiry type: 
        <ol>
        <li>shares (#)</li>
        <li>loans (#)</li>
        <li>certificates (#)</li>
        <li>single draft checking</li>
        <li>multiple draft clearings (#)</li>
        <li>last payroll deposit and date (#)</li>
        </ol>
         </td>
    </tr>
    
    <tr>
    	<td class="bold italic first">Step 6</td>
      <td>For shares, loans and certificates of deposit, enter the sub account number: <br />
        <span class="bold">share 1</span> - Regular shares/savings (#)<br />
        <span class="bold">share 2</span> - Christmas Club (#)<br />
        <span class="bold">share 3</span> - Vacation Club (#)<br />
		<span class="bold">share 4</span> - share draft checking (#)<br />
      <span class="italic">See your quarterly statement for loan and certificate of deposit sub account numbers.</span></td>
    </tr>
    
    <tr>
    	<td class="bold italic first">Step 7</td>
        <td>Enter <span class="bold">dollar amount and #</span>.<br />
          <span class="italic">Touch Tone Teller automatically adds the decimal point.<br />
If you press 5-0-0, you will get $5.00.<br />
To get $500, press 5-0-0-0-0.</span> <br />
To <span class="bold">cancel a transaction</span>, simply enter *#. Touch Tone Teller responds, <br />
"Thank you, goodbye."</td>
    </tr>

</table>

<p><span class="bold">Error Messages</span><br />The Touch Tone Teller also uses several special information messages. These include: </p>

<p class="indent"><span class="bold">System Unavailable</span><br />
  The system is reconciling its activities for the day, month or quarter.  </p>

<p class="indent"><span class="bold">Timeout</span><br />
  The computer automatically says goodbye if a response to a question is not made within 30 seconds. </p>

<p class="indent"><span class="bold">Invalid Entry</span><br />
  Entry made improperly and not understood by the computer. </p>

<p class="indent"><span class="bold">Too Many Errors</span><br />
  You have made four invalid entries. </p>

<p class="indent"><span class="bold">Call Credit Union</span><br />
  This information is not available through Touch Tone Teller. Call the Credit Union office. The Touch Tone Teller will disconnect.</p>
</div>
