<div id="content" class="clearfix">
<h2>Enjoy a World of Convenience with an HSFCU Visa Card  </h2>
<a href="hbv3_2/hbloanapplogin.asp"><img src="images/apply_now.png" alt="" class="fright image" /></a>

<p>For shopping, dining and travel, nothing beats the convenience and worldwide acceptance of Visa®. Millions of locations across the globe gladly welcome the card for purchases. Moreover, you can get cash advances at thousands of ATMs displaying the Visa emblem.</p>

<table class="visa">
	<tr>
    	<th>Visa Platinum</th>
    </tr>
    <tr>
    	<td>No Annual Fee</td>
    </tr>
    <tr>
    	<td>Rates as low as 8.90% APR</td>
    </tr>
    <tr>
    	<td>Credit Lines up to $15,000</td>
    </tr>
    <tr>
    	<td>Cash Advances</td>
    </tr>
</table>

<p class="header">Our Visa Platinum Card Gives You Even MORE! </p>
<ul>
	<li>Our lowest credit card rate - as low as 8.90% APR*</li>
    <li>CU Rewards for your purchases </li>
</ul>

<p>HSFCU is now offering our Visa&reg; Platinum card - packed with benefits and carrying one of the lowest rates you'll find anywhere. </p>

<p>As our valued customer, Healthcare Systems FCU offers you Verified by Visa.   Verified by Visa puts you in control when shopping online: only you can approve purchases using your private password.</p>

<p><%= link_to image_tag("visaverified.jpg", :alt=>"", :class=>"image") + "<br />Learn more", "https://secure2.arcot.com/vpas/s582110v/i18n/en_US/index.html", :rel=>"confirm external" %></p>

<h2 class="space">CU Rewards </h2>
<p>In addition to low rates, our Visa Platinum card offers the extra benefits of CU Rewards, a program that gives you free travel and merchandise based on your purchases. You'll earn one point for every net dollar purchase that you make, which can be redeemed for your CU Rewards. Points can add up quickly, and are shown on each month's credit card statement, so you'll know just where you stand. </p>
<p>For more information on CU Rewards, go to <%= link_to "www.curewards.com", "http://www.curewards.com", :rel=>"confirm external" %>.</p>

<h2 class="space">Apply for a Visa Credit Card Today!</h2>
<p><a href="hbv3_2/hbloanapplogin.asp">Click here to apply</a> for your HSFCU Visa card. Be sure to read the accompanying <%= link_to "Platinum VISA&reg; Account Agreement", "pdf/DVAHC0_Credit%20Card%20Agreement.pdf", :rel=>"external" %></p>
<p><%= link_to "Healthcare Systems FCU Credit Card Disclosure", "pdf/DVAHA0_Application &amp; Solicitation Disclosure.pdf", :rel=>"external" %></p>

</div>
