<div id="content" class="clearfix">
<h2>Visa Debit Card</h2>
<p>Leave your checkbook at home. The HSFCU Visa&reg; Check Card lets you carry your checkbook in your wallet, and offers these other advantages: </p>
<ul>
	<li>Quick and simple to use </li>
    <li>Pay for up to $1,000 in purchases at millions of merchants worldwide, wherever Visa debit is accepted </li>
    <li>No waiting for check approval   </li>
    <li>Less need to write checks</li>
    <li>No worry that an &quot;out of town&quot; check won't be honored  </li>
    <li>Can also be used for making purchases online or by phone </li>
    <li>Doubles as an ATM card - use it to get up to $300 in cash per day at more than a million Visa ATMs worldwide or at any ATM in the STAR network</li>
</ul>

<p><span class="bold">The Visa Check Card is free with an HSFCU checking account.</span> To receive a Visa Check Card, contact an HSFCU representative or call 703-776-2700.</p>
<p>As our valued customer, Healthcare Systems FCU offers you Verified by Visa.   Verified by Visa puts you in control when shopping online: only you can approve purchases using your private password. </p>
<%= link_to image_tag("visaverified.jpg", :alt=>"") + "<br />Learn More",  "https://securevbv.concordefs.com/concord/registration/welcome.jsp?partner=582110", :rel=>"confirm external" %>

<h2 class="space">Reloadable Visa Debit Cards</h2>
<p>HSFCU also offers a pre-paid Reloadable Visa Debit Card, especially useful for college students, travelers, military personnel and anyone else who needs a handy source of portable funds. The Reloadable Visa Debit Card can be easily reloaded with funds from a phone, at an HSFCU branch or through our website. Plus, it has many of the same features as our regular Visa Debit Card, such as worldwide acceptance, ease of use and speed. </p>

<p>To learn more information about the Reloadable Visa Debit Card, <%= link_to "click here", "http://gprprepaid.pscufs.com/index.cfm?clientkey=67429 HSFCU", :rel=>"confirm external" %>. To obtain a Reloadable Visa Debit Card, contact an HSFCU representative or call 703-776-2700. </p>
</div>
