    <!-- FOOTER -->
<div id="footer" class="clearfix">
	<div id="footer2" class="clearfix">
        <div id="footleft">
        <ul>
            <li><%= link_to "Home", root_path %> |  </li> 
            <li><%= link_to "Contact Us", new_contact_path %> |  </li>
            <li><%= link_to "Site Map", sitemap_path %></li>
        </ul>
        
        <%= link_to image_tag("sm_ccsafe_whborder.gif", :alt=>"Security Metrics Credit Card Safe"), "https://www.securitymetrics.com/site_certificate.adp?s=66%2e193%2e224%2e30&amp;i=74186" %>
        </div>	
        
        <div id="footright">
        <p>3300 Gallows Road, Falls Church, VA 22042 | Main: 703-776-2700 | Touch Tone Teller: 703-776-2498</p>
        <p>Routing Number : 256078543</p>
        </div>    
    
    </div>
</div>
<!-- END FOOTER -->
    
</div>

<script type="text/javascript"> 
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-9785528-44");
pageTracker._trackPageview();
} catch(err) {}</script>